.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

/*Hero rocket*/
@-webkit-keyframes rotateBox {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateBox {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*lessons*/
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

/*banner*/
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.75;
  }
  50%,
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.75;
  }
  50%,
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.scroll-button {
  position: fixed;
  width: 45px;
  height: 45px;
  background-color: #FA8D50;
  border-radius: 22.5px;
  left: 98vw;
  bottom: 2vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: -22.5px;
  z-index: 45;
  cursor: pointer;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  color: #FFFFFF;
  -webkit-transition: rotate 0.5s ease-in-out;
  transition: rotate 0.5s ease-in-out;
}

.scroll-button:hover {
  color: #FFFFFF;
}

.scroll-button:hover .banner__icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.scroll-button::before, .scroll-button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
  border: #FA8D50 12px solid;
  opacity: 0.3;
  -webkit-animation: ripple 3.0s ease-out infinite;
          animation: ripple 3.0s ease-out infinite;
  border-radius: 50%;
  z-index: -1;
}

.scroll-button:after {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.scroll-button.scroll-button-floating {
  position: fixed;
  bottom: 100px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

.scroll-button.scroll-button-floating.visible {
  opacity: 1;
}

.banner__icon {
  width: 100%;
  height: 100%;
  background-color: #FA8D50;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: #3B4877;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: 'Rubik Bubbles';
  background-color: #ffffff;
  font-weight: 400;
  font-size: 24px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

section {
  padding: 0 calc(50% - 160px);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 calc(50% - 384px);
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding: 0 calc(50% - 640px);
  }
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  text-align: center;
  position: relative;
}

.header__item:not(:last-child) {
  margin-right: 20px;
}

.header__link {
  white-space: nowrap;
  line-height: 120%;
  color: #3B4877;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.header__link:hover {
  color: #b2b8ce;
}

.header__link:hover::after {
  content: '';
  position: absolute;
  top: 18;
  left: 0;
  width: 50px;
  height: 10px;
  background-color: #FA8D50;
  border-radius: 10px;
  z-index: -1;
}

.current:after {
  content: '';
  position: absolute;
  top: 18;
  left: 0;
  width: 50px;
  height: 10px;
  background-color: #FA8D50;
  border-radius: 10px;
  z-index: -1;
}

.header__button-link {
  background-color: #FA8D50;
  border: 1px solid #3B4877;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: #3B4877;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header__button-link:hover {
  background-color: #fce2d4;
  color: #b2b8ce;
}

.hero {
  padding: 0;
  overflow: hidden;
}

.hero__content {
  width: 100vw;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F5F5F5;
  background-image: url(../img/hero/1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50% auto;
}

.hero__content::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../img/hero/rectangle_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 160px;
  height: 115px;
}

.hero__content::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-image: url("../img/hero/rectangle_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 190px;
  height: 173px;
}

.hero__content-box {
  margin: 0 18%;
  padding-top: 115px;
  padding-bottom: 36px;
}

.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 440px;
}

.hero__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 119%;
  text-align: justify;
  color: #3B4877;
  margin-bottom: 5px;
}

.title-red {
  color: #EC290F;
}

.hero__text {
  font-weight: 400;
  text-align: justify;
  font-size: 24px;
  line-height: 116%;
  color: #3B4877;
  margin-bottom: 25px;
}

.hero__text2 {
  font-family: 'Roboto';
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: #858EAD;
  margin-bottom: 137px;
}

.hero__icon-rocket {
  margin: 0 auto 17px auto;
  width: 128px;
  height: 128px;
  fill: #EC290F;
}

.box {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation: rotateBox 20s linear infinite;
          animation: rotateBox 20s linear infinite;
}

.hero__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  background-color: #3B4877;
  border: 1px solid #3B4877;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FA8D50;
  padding: 13px;
  white-space: nowrap;
  margin-left: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__button:hover {
  background-color: #fce2d4;
  color: #b2b8ce;
}

.aboutus {
  padding-top: 75px;
  padding-bottom: 100px;
}

.aboutus__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutus__title {
  position: relative;
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color: #3B4877;
  margin-bottom: 92px;
}

.aboutus__title::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 20px;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #FA8D50;
  border-radius: 10px;
  z-index: -1;
}

.aboutus__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus__item1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  max-height: 385px;
  padding: 102px 30px;
  background-color: #F5F5F5;
  border: 2px dashed #EC290F;
  border-radius: 30px;
  margin-right: 20px;
}

.aboutus__item1::after {
  content: '';
  position: absolute;
  background-image: url("../img/aboutus/rocket-us.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutus__item1:hover {
  border: 2px solid #EC290F;
}

.aboutus__item1:hover .aboutus__number {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.aboutus__item1:hover::after {
  background-image: url("../img/aboutus/rocket-us.png");
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.aboutus__item2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  max-height: 385px;
  padding: 102px 30px;
  background-color: #F5F5F5;
  border: 2px dashed #EC290F;
  border-radius: 30px;
  margin-right: 20px;
}

.aboutus__item2::after {
  content: '';
  position: absolute;
  background-image: url("../img/aboutus/sun.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutus__item2:hover {
  border: 2px solid #EC290F;
}

.aboutus__item2:hover .aboutus__number {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.aboutus__item2:hover::after {
  background-image: url("../img/aboutus/sun.png");
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.aboutus__item3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  max-height: 385px;
  padding: 102px 30px;
  background-color: #F5F5F5;
  border: 2px dashed #EC290F;
  border-radius: 30px;
}

.aboutus__item3:not(:last-child) {
  margin-right: 68px;
}

.aboutus__item3::after {
  content: '';
  position: absolute;
  background-image: url("../img/aboutus/users.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutus__item3:hover {
  border: 2px solid #EC290F;
}

.aboutus__item3:hover .aboutus__number {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.aboutus__item3:hover::after {
  background-image: url("../img/aboutus/users.png");
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.aboutus__number {
  text-align: center;
  font-weight: 400;
  font-size: 96px;
  line-height: 104%;
  color: #EC290F;
  margin-bottom: 21px;
}

.aboutus__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #3B4877;
}

.lessons {
  padding-top: 57px;
  padding-bottom: 41px;
  background-color: #F5F5F5;
  position: relative;
  z-index: 1;
}

.lessons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lessons__title {
  position: relative;
  white-space: nowrap;
  margin: 0 auto 85px auto;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  color: #3B4877;
}

.lessons__title::after {
  content: '';
  position: absolute;
  width: 900px;
  height: 20px;
  left: 50%;
  top: 65%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #FA8D50;
  border-radius: 10px;
  z-index: -1;
}

.lessons__items {
  width: calc(100% - 72px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lessons__items:hover .first__box,
.lessons__items:hover .second__box,
.lessons__items:hover .third__box,
.lessons__items:hover .fourth__box,
.lessons__items:hover .sixth__box {
  -webkit-animation: pulsing 1s infinite;
          animation: pulsing 1s infinite;
}

.lessons__item-box {
  max-width: 340px;
  max-height: auto;
}

.lessons__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 36px;
}

.lessons__item:nth-of-type(n+4) {
  margin-bottom: 0;
}

.lessons__img {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
}

.lessons__img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.lessons__item-title {
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #FA8D50;
  color: #3B4877;
}

.item-box:before {
  content: '';
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.first__box:before {
  width: 100px;
  height: 100px;
  left: -50px;
  top: -50px;
  background: #EC290F;
  border-radius: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.second__box:before {
  width: 150px;
  height: 150px;
  left: 100px;
  top: -40px;
  background: #EC290F;
  border-radius: 30px;
  -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
}

.third__box:before {
  width: 150px;
  height: 150px;
  left: 260px;
  top: -35px;
  background: #EC290F;
  border-radius: 30px;
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
}

.fourth__box:before {
  width: 150px;
  height: 150px;
  bottom: -15px;
  left: -75px;
  background: #EC290F;
  border-radius: 30px;
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
}

.sixth__box:before {
  width: 100px;
  height: 100px;
  bottom: -25px;
  right: -45px;
  background: #EC290F;
  border-radius: 30px;
  -webkit-transform: rotate(165deg);
          transform: rotate(165deg);
}

.signin {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .signin {
    padding: 100px calc(50% - 640px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.signin__container {
  padding: 14px 112px 50px 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FA8D50;
  border-radius: 30px;
}

.signin__title {
  white-space: nowrap;
  font-weight: 400;
  margin-bottom: 26px;
  font-size: 48px;
  line-height: 125%;
  color: #3B4877;
}

.signin__btn {
  font-family: 'Rubik Bubbles';
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #EC290F;
  background-color: #3B4877;
  padding: 13px 16px;
  border: 1px solid #3B4877;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.signin__btn:hover {
  background-color: #c5d0f7;
  color: #f3b6ae;
}

.blog {
  background-color: #F5F5F5;
  padding-bottom: 100px;
}

.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.blog__header-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 118%;
  text-align: center;
  color: #3B4877;
}

.blog__header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 118%;
  text-align: center;
  color: #3B4877;
  border: 1px solid #3B4877;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #FA8D50;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog__header-link:hover {
  background-color: #fce2d4;
  color: #b2b8ce;
}

.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blog__item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

.blog__item:hover .blog__image-title {
  visibility: visible;
}

.blog__image {
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-img1 {
  background-image: url(../img/blog/image1.png);
}

.blog-img2 {
  background-image: url(../img/blog/image2.png);
}

.blog-img3 {
  background-image: url(../img/blog/image3.png);
}

.blog__image-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #3B4877;
  padding: 5px 20px;
  background-color: #FA8D50;
  border-radius: 30px;
  visibility: hidden;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.blog__image-title:hover {
  background-color: #fce2d4;
  color: #b2b8ce;
}

.blog__discription-admin {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #FA8D50;
  margin-bottom: 10px;
}

.blog__discription-admin:hover {
  color: #fce2d4;
}

.blog__discription-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #3B4877;
}

.blog__readmore {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #FA8D50;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.blog__readmore:hover {
  text-decoration: underline;
  color: #fce2d4;
}

.gallery {
  padding-bottom: 100px;
}

.gallary__items-image {
  text-align: center;
  width: 1096px;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 750px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-image: url(../img/footer/bg_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.footer__container {
  padding-top: 100px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
}

.footer__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 118%;
  text-align: justify;
  color: #858EAD;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo img {
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
}

.footer__logo-text {
  max-width: 177px;
  max-height: 115px;
}

.footer__contacts-title {
  margin-bottom: 15px;
}

.footer__contacts-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.footer__contacts-text {
  margin-left: 10px;
}

.footer__contacts-telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.footer__contacts-telephone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
}

.footer__contacts-telephone img {
  margin-right: 10px;
}

.footer__gallery {
  margin-bottom: 15px;
}

.footer__gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 290px;
}

.footer__gallery-item {
  text-align: start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80px;
          flex: 1 1 80px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.footer__gallery-item:nth-child(-n+3) {
  margin-bottom: 10px;
}

.footer__gallery-item a:hover {
  opacity: 0.5;
}

.footer__timework-title {
  margin-bottom: 15px;
}

.footer__timework-text:not(:last-child) {
  margin-bottom: 5px;
}

.footer__end {
  background-color: #191E31;
  padding: 5px 0 5px 0;
  width: 100%;
  text-align: center;
}

.copyrights {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 118%;
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */