.blog{
    padding-bottom: 100px;
}

.blog__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}


.blog__header-title{
    font-weight: 400;
    font-size: 48px;
    line-height: 118%;
    text-align: center;
    color: $blog-title-color;
}
.blog__header-link{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 118%;
    text-align: center;
    color: $blog-title-color;
    border: 1px solid #3B4877;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: $blog-btn-color;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    
    &:hover{
        background-color: $hero-button-hover-color;
        color:$hero-button-hover-text;
        
    }
}
.blog__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.blog__item{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    min-height: 500px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7); 
    }
        &:hover .blog__image-title {
            visibility: visible;
        }
}

.blog__image{
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.blog-img1{
    background-image: url(../img/blog/image1.png);

}
.blog-img2 {
    background-image: url(../img/blog/image2.png);
}
.blog-img3 {
    background-image: url(../img/blog/image3.png);
}

.blog__image-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: $blog-title-color;
    padding: 5px 20px;
    background-color: $bg-color;
    border-radius: 30px;
    visibility: hidden;
    transition: all ease-in-out 0.3s;
    &:hover{
        background-color: $btn-hover-orangColor;
        color: $btn-hover-textColor;
    }
   
   
}
.blog__discription-admin{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color:$text-orangColor;
        &:hover{
            color:$btn-hover-orangColor;
        }
        margin-bottom: 10px;

}
.blog__discription-text{
    font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        color: $text-color;

}
.blog__readmore{
    font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: $text-orangColor;
        transition: all ease-in-out 0.3s;
        &:hover{
            text-decoration: underline;
            color: $btn-hover-orangColor;
        }
}