$header-link-color: #3B4877;
$header-button-color: #FA8D50;

$hero-title-color: #3B4877;
$hero-title-red-color: #EC290F;
$hero-text-color: #3B4877;
$hero-text-color2: #858EAD;
$hero-button-color: #3B4877;
$hero-button-hover-color: #fce2d4;
$hero-button-text: #FA8D50;
$hero-button-hover-text: #b2b8ce;


$aboutus-title-color: #3B4877;
$aboutus-after-color: #FA8D50;
$aboutus-box-border-color: #EC290F;
$aboutus-box-bg-color: #F5F5F5;
$aboutus-numder-color: #EC290F;
$aboutus-text-color: #3B4877;

$lessons-title-color: #3B4877;
$lessons-after-color: #FA8D50;
$lessons-text-color: #3B4877;
$lessons-bgtext-color: #FA8D50;
$lessons-bg-color: #F5F5F5;