.modal__overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: none;
}
.modal__container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: auto;
    background-color: $modal-container-color;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 10px 10px 10px;
    border-radius: 10px;
}
.modal__form{
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__close{
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    background-color: $modal-close-bg-color;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all .3s ease-in-out;
   &:hover, .modal__close:hover{
        background-color: $modal-close-hover-color;
        fill: $modal-close-color;
    }
}
.modal__close-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
}
.modal__title{
    margin-bottom: 25px;
    text-align: center;
}
.modal__title-text{
    font-size: 24px;
    font-weight: normal;
    color: $modal-title-color;
    margin-bottom: 10px;
}
.modal__text{
    font-size: 16px;
    font-weight: normal;
    color: $modal-text-color;
}
.modal__input-text{
    width: 400px;
    margin-bottom: 10px;
    border: 1px solid #EC290F;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    color: $modal-inputText-color;
    &:nth-child(1){
        margin-bottom: 20px;
    }
}
.modal__input-submit{
    width: 400px;
    margin-bottom: 10px;
    border: 1px solid #EC290F;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: $modal-inputSubmit-text-color;
    background-color: $modal-inputSubmit-color;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:disabled{
        background-color: $modal-inputSubmit-disabled-color;
        cursor: not-allowed;
    }
    &:hover{
        background-color: $modal-inputSubmit-hover-color;
    }
}
.is-visually{
    display: block;
}
