* {

    &,
    &::before,
    &::after {
        padding: 0;
        margin: 0;
        border: 0;
      box-sizing: border-box;  
    }
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;

}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: 'Rubik Bubbles';
    background-color: #ffffff;
        font-weight: 400;
        font-size: 24px;
}

main {
    flex: 1 1 auto;
}
section {
    padding: 0 calc(50% - 160px);
    margin: 0 auto;
  
    @include tab{
        padding: 0 calc(50% - 384px);

    }
    @include desk{
        padding: 0 calc(50% - 640px);

    }
}



.is-visually {
    visibility: visible 
}



